@font-face{
    font-family: "Nunito";
    src: url("./fonts/Nunito-Regular.ttf") format("truetype"),
    url("./fonts/Nunito-Light.ttf") format("truetype"),
    url("./fonts/Nunito-Italic.ttf") format("truetype"),
    url("./fonts/Nunito-Bold.ttf") format("truetype");
}

html{
    height:100%;
}

body{
    display:flex;
    flex-direction:row;
    margin:0px;
    font-family: "Nunito";
    background-color:#FFF7E6;
    color:#664E4E;
    height:100%;
}

.side-container{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
    position: relative;
    top: 0;
    left:0;
}

#side-image{
    flex-shrink: 0%;
    min-width:100%;
    min-height:100%;
    position: relative;
    top:0;
    left:0;
    z-index: 1;
}

#logo{
    position:absolute;
    top:30px;
    left:30px;
    width:80%;
    z-index: 2;
    
}

.main{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.top{
    flex-grow:1;
    padding-top:32px;
    padding-left: 32px;
    padding-right:128px;
    background-color:#f5ecd8;
    min-height:33%;
    
}

.top-text{
    display:flex;
    flex-direction:column;
    justify-content:stretch;
    align-items: left;
    font-size:24px;
}

.input{
    background-color:#FFF7E6;
    flex-grow:1;
    padding-left: 32px;
    padding-right:128px;
    box-shadow: 10px 5px 10px #b9ad95;
    z-index:2;
    min-height: 34%;
    display:flex;
    justify-content: flex-start;
    align-items:center;

    
}

form{
    flex-grow:1;
    display:grid;
    grid-template-columns:4fr 1fr 4fr 3fr;
    grid-template-rows:repeat(4, 1fr);
    gap:8px;
}

input{
    border-radius: 4px;
    height:24px;
    border: 2px solid #664E4E;
    padding-left:8px;
    padding-top:4px;
    padding-bottom: 4px;
    font-family: "Nunito";
    color:#664E4E;
    background-color:#FFF7E6;
    transition:0.25s;
}

input:focus, textarea:focus{
    outline: none !important;
    background-color: #FFE4AE;
    border-color: #8AC4BE;
}

input:hover{
    border: 2px solid #8AC4BE;
}

.legend-div{
    grid-column:1 / 2;
    grid-row: 1 / 2;
    font-style:bold;
    font-size:24px;
}

.first-name-div{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display:flex;
    flex-direction:column;
}

.last-name-div{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display:flex;
    flex-direction:column;
}

.email-div{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display:flex;
    flex-direction:column;
}

.phone-div{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    display:flex;
    flex-direction:column;
}

.password-div{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display:flex;
    flex-direction:column;
}

.confirm-div{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    display:flex;
    flex-direction:column;
}

.bottom{
    flex-grow:1;
    padding-top:32px;
    padding-left: 32px;
    padding-right:128px;
    background-color:#f5ecd8;
    min-height: 33%;
}

#submit-button{
    background-color: #DB8F5D;
    border-radius:8px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 3px solid #DB8F5D;
}

#submit-button:hover{
    background-color: #FFF7E6;
    color:#DB8F5D;
}

.have-account{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    gap:8px;
}

#log-in-link{
    font-style:bold;
    color:#8AC4BE;
    transition-duration:0.4s;
    cursor: pointer;
}

#log-in-link:hover{
    transform: scale(1.2);
}



